<!DOCTYPE html>
<html>
  <head>
    <title>Simple Chatroom Example</title>
    <script src="jquery-3.5.1.min.js"></script>
    <script src="js/chat.js"></script>
  </head>
  <body>
    <noscript><div><em>ERROR: Javascript is required to use this application</em></div></noscript>
    <div id="errorblock" style="display: none"></div>
    <h1>Simple Chatroom Example</h1>
    <div id="messages">(Loading...)</div>
    <div>
      <div><b>Your Nickname:</b> <span id="nickname">(Loading...)</span></div>
    </div>
  </body>
</html>
